<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 about-blurb">
<h3>About Us</h3>
<p>Tasteback is a service dedicated to making dining with dietary restrictions easier!

We provide restaurant recommendations based on your food restrictions. To use, pick your food restriction in the search form, and get eating! If your food restriction isn’t on the site yet, we are working on it. You can let us know in the contact us section!</p>

<h4>Our Story</h4>
<p>Hi! I am Annie. Two years ago I started having severe stomach problems. Since then I have been diagnosed with a small intestinal bacterial overgrowth (SIBO) and irritable bowel syndrome (IBS). In order to reduce my symptoms I have been following a low FODMAP diet for over a year and a SCD diet for about 6 months.

My journey with the low FODMAP diet has been a process in learning how to be mindful of every ingredient I am putting in my body and really watching what I eat. This journey has meant that I have needed to cook all of my own meals and not eat out. I have missed being able to eat out at restaurants with my friends, so I am working to find SIBO friendly restaurants in Portland Oregon!</p>

</div>
<div class="col-md-2"></div>



</div>
</div>