<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 about-blurb">
<p>Tasteback is a service dedicated to making dining with dietary restrictions easier!

We provide restaurant recommendations based on your food restrictions. To use, pick your food restriction from the drop down menu, and get eating! If your food restriction isn’t on the site yet, we are working on it. You can let us know in the contact us section!</p>
</div>
<div class="col-md-2"></div>

</div>
</div>