<div class="container">
  <div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2><%= @user.email %></h2>
      <h5>Allergies:</h5>
      <ul>
      <% @user.allergies.each do |a| %>
        <li><%= a.name.capitalize %></li>
      <% end %>
      <% if @user.allergies.empty? %>
        <p>No allergies!</p>
      <% end %>
      </ul>
      <%= link_to "Manage allergies", edit_user_path %>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>