<div class="container restaurant-edit-container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="restaurant-form">
<h2>Add a restaurant</h2>
<%= render 'restaurant_form' %>
</div>
</div>
<div class="col-md-3"></div>
</div>
</div>