nav {
  padding: 10px 0 10px 10px;
  height: 100px;
  .nav-links {
    margin-top: 30px;
  }
    ul {
      li {
        margin-right: 16px;
        display: inline-block;
        a {
           color: $gray-dark;
          
        }

        a:hover {
           text-decoration: none;
           color: darken($gray-dark, 40%);
        }
      }
    }
}

.logo {
  height: 70px;
  padding: 10px;
}

#flash {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 50%;
  background-color: $brand-info;
  height: 3em;
  border-radius: 2px;
  color: #FFF;
  padding: 10px;
  margin-bottom: 20px;
}
