// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-form {
    margin-left: auto;
    margin-right: auto; 

    form {
      margin-top: 20px;
      
      .btn {
        background-color: $brand-primary;
        color: #FFF;
        margin: auto;
        padding: 10px;  
        box-shadow: none;
        background-image: none;
        text-shadow: none;
        border: none;
      }
    }

    .field {
        display: block;
        margin: 20px 0;
        input[type="text"] {
          width: 80%;
           height: 2em;
           padding-left: 10px; 
          padding-right: 5px;
          border-radius: 2px;
          border: 1px solid #C5C5C5;
        }
        textarea {
          border-radius: 2px;
          border: 1px solid #C5C5C5;
          width: 80%;
          resize: none;
        }
        label {
          margin-right: 10px;
        }
    }
  
}